useDynLib(popsom)
import(som,class,fields,graphics,stats,grDevices)
importFrom(Rcpp, evalCpp)
export(
  "map.build",
  "map.convergence",
  "map.embedding",
  "map.accuracy",
  "map.starburst",
  "map.projection",
  "map.significance"
)
# for testing:
exportPattern("^[[:alpha:]]+")